@use 'sass:string';
@use 'pkg:@sass-fairy/url';

@use '../tokens/colors';

@mixin background($color, $position: center, $size: 24px) {
  $encoded-color: url.encode("#{$color}");
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$encoded-color}'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size $size;
}
