@use 'sass:map';
@use '@material/web/tokens' as md-tokens;

@use '../tokens';
@use '../utils';

$_default: (
  'md-sys-color': tokens.colors-light(),
  'md-sys-shape':
    md-tokens.md-sys-shape-values(
      $exclude-custom-properties: true,
    ),
);

@mixin styles($deps: $_default) {
  &.is-mobile {
    $background-color: map.get($deps, 'md-sys-color', 'surface-container-low');

    .workspace-drawer {
      $shape: map.get($deps, 'md-sys-shape', 'corner-large-end');
      @include utils.shape-define-border-radius($shape);

      background-color: $background-color;
    }

    .workspace-drawer-inner {
      background-color: $background-color;
    }

    .workspace-drawer-header .clickable-icon {
      color: map.get($deps, 'md-sys-color', 'on-surface-variant');
      height: 40px;
      padding: 0;
      width: 40px;
    }

    .workspace-drawer-active-tab-container {
      background-color: $background-color;

      .nav-header {
        align-content: center;
        background-color: map.get(
          $deps,
          'md-sys-color',
          'surface-container-high'
        );
        border: unset;
        min-height: calc(var(--safe-area-inset-bottom) + 64px);
        padding-block: 0 var(--safe-area-inset-bottom);
      }

      .nav-buttons-container {
        padding-inline: 16px;

        .clickable-icon {
          color: map.get($deps, 'md-sys-color', 'on-surface-variant');
          height: 48px;
          padding: unset;
          max-width: 48px;
        }
      }
    }

    .workspace-drawer-active-tab-header {
      background-color: transparent;
      border: 1px solid map.get($deps, 'md-sys-color', 'outline');
      border-radius: map.get($deps, 'md-sys-shape', 'corner-full');
      padding-inline: 24px;
      height: 40px;

      .workspace-drawer-active-tab-title,
      .workspace-drawer-active-tab-icon,
      .clickable-icon {
        color: map.get($deps, 'md-sys-color', 'primary');
      }

      .clickable-icon {
        padding: unset;
      }
    }
  }
}
