@use 'sass:map';
@use 'pkg:@material/web/tokens/md-comp-divider';
@use 'pkg:@material/web/tokens/md-comp-filled-card';
@use 'pkg:@material/web/tokens/md-comp-icon';
@use 'pkg:@material/web/tokens/md-comp-list';
@use 'pkg:@material/web/tokens/md-comp-list-item';

@use '../tokens';
@use '../utils';
@use 'ripple';

$_md-comp-divider: md-comp-divider.values();
$_md-comp-filled-card: md-comp-filled-card.values();
$_md-comp-icon: md-comp-icon.values();
$_md-comp-list: md-comp-list.values();
$_md-comp-list-item: md-comp-list-item.values();
$_md-comp-sheet-bottom: tokens.comp-sheet-bottom-values();
$_md-sys-typescale: tokens.typescale-values();

@mixin styles() {
  &.is-phone {
    $background-color: map.get(
      $_md-comp-sheet-bottom,
      'docked-container-color'
    );

    .menu {
      background-color: $background-color;
      border-end-end-radius: map.get(
        $_md-comp-sheet-bottom,
        'docked-container-shape-end-end'
      );
      border-end-start-radius: map.get(
        $_md-comp-sheet-bottom,
        'docked-container-shape-end-start'
      );
      border-start-end-radius: map.get(
        $_md-comp-sheet-bottom,
        'docked-container-shape-start-end'
      );
      border-start-start-radius: map.get(
        $_md-comp-sheet-bottom,
        'docked-container-shape-start-start'
      );
      margin-top: 72px;
      padding: 0;
    }

    .menu-grabber {
      color: map.get($_md-comp-sheet-bottom, 'docked-drag-handle-color');
      height: map.get($_md-comp-sheet-bottom, 'docked-drag-handle-height');
      margin: 22px auto;
      width: map.get($_md-comp-sheet-bottom, 'docked-drag-handle-width');

      &::before {
        background: currentColor;
        border-radius: var(--md-sys-shape-corner-full);
        content: '';
        height: 100%;
        width: 100%;
      }
    }

    .menu-scroll {
      background-color: $background-color;
      display: block;
      padding-block-start: 0;
      padding-block-end: max(var(--safe-area-inset-bottom), 8px);
    }

    .menu-separator {
      border: unset;
      color: map.get($_md-comp-divider, 'color');
      display: flex;
      height: map.get($_md-comp-divider, 'thickness');
      margin-block: 8px;
      padding-inline: 16px;

      &:nth-of-type(2),
      & + .menu-separator {
        display: none;
      }

      &::before {
        background: currentColor;
        content: '';
        height: 100%;
        width: 100%;
      }
    }

    .menu-item {
      border-radius: var(--md-sys-shape-corner-none);

      &.is-label {
        padding-block: 0 8px;
        padding-inline: 16px;

        .menu-item-title {
          background-color: map.get($_md-comp-filled-card, 'container-color');
          border-radius: map.get($_md-comp-filled-card, 'container-shape');
          display: flex;
          flex-direction: column;
          font-family: var(--md-sys-typescale-body-large-font);
          font-size: var(--md-sys-typescale-body-large-size);
          font-weight: var(--md-sys-typescale-body-large-weight);
          line-height: var(--md-sys-typescale-body-large-line-height);
          padding: 16px;

          div:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .menu-item-desc {
            font-family: var(--md-sys-typescale-body-medium-font);
            font-size: var(--md-sys-typescale-body-medium-size);
            font-weight: var(--md-sys-typescale-body-medium-weight);
            line-height: var(--md-sys-typescale-body-medium-line-height);
            padding: unset;
          }
        }
      }

      &.tappable {
        gap: 16px; // No gap token in MWC
        height: map.get($_md-comp-list-item, 'one-line-container-height');
        padding-block: {
          start: map.get($_md-comp-list-item, 'top-space');
          end: map.get($_md-comp-list-item, 'bottom-space');
        }
        padding-inline: {
          start: map.get($_md-comp-list-item, 'leading-space');
          end: map.get($_md-comp-list-item, 'trailing-space');
        }

        &.mobile-tap {
          background-color: unset;
        }

        @include ripple.theme(
          (
            'hover-color':
              map.get($_md-comp-list-item, 'hover-state-layer-color'),
            'hover-opacity':
              map.get($_md-comp-list-item, 'hover-state-layer-opacity'),
            'pressed-color':
              map.get($_md-comp-list-item, 'pressed-state-layer-color'),
            'pressed-opacity':
              map.get($_md-comp-list-item, 'pressed-state-layer-opacity'),
            'shape': var(--md-sys-shape-corner-none),
          )
        );
        @include ripple.styles-after();
      }
    }

    .menu-item-icon {
      align-items: center;
      justify-content: center;

      .svg-icon {
        color: map.get($_md-comp-list-item, 'leading-icon-color');
        height: map.get($_md-comp-icon, 'size');
        width: map.get($_md-comp-icon, 'size');
      }
    }

    .menu-item-title {
      color: map.get($_md-comp-list-item, 'label-text-color');
      font-family: map.get($_md-comp-list-item, 'label-text-font');
      font-size: map.get($_md-comp-list-item, 'label-text-size');
      font-weight: map.get($_md-comp-list-item, 'label-text-weight');
      line-height: map.get($_md-comp-list-item, 'label-text-line-height');
    }
  }
}
