.theme-light {
  --md-sys-primary-hsl: 260, 73%, 47.8%;
  --md-sys-primary: rgb(91, 33, 211);
  --md-sys-surface-tint: rgb(106, 55, 226);
  --md-sys-on-primary: rgb(255, 255, 255);
  --md-sys-primary-container: rgb(129, 82, 250);
  --md-sys-on-primary-container: rgb(255, 255, 255);
  --md-sys-secondary: rgb(101, 82, 157);
  --md-sys-on-secondary: rgb(255, 255, 255);
  --md-sys-secondary-container: rgb(201, 182, 255);
  --md-sys-on-secondary-container: rgb(56, 36, 109);
  --md-sys-tertiary: rgb(149, 0, 130);
  --md-sys-on-tertiary: rgb(255, 255, 255);
  --md-sys-tertiary-container: rgb(196, 57, 171);
  --md-sys-on-tertiary-container: rgb(255, 255, 255);
  --md-sys-error-rgb: 186, 26, 26;
  --md-sys-error: rgb(var(--md-sys-error-rgb));
  --md-sys-on-error: rgb(255, 255, 255);
  --md-sys-error-container: rgb(255, 218, 214);
  --md-sys-on-error-container: rgb(65, 0, 2);
  --md-sys-background: rgb(253, 247, 255);
  --md-sys-on-background: rgb(29, 26, 36);
  --md-sys-surface: rgb(253, 247, 255);
  --md-sys-on-surface: rgb(29, 26, 36);
  --md-sys-surface-variant: rgb(231, 223, 244);
  --md-sys-on-surface-variant: rgb(73, 68, 85);
  --md-sys-outline: rgb(122, 116, 135);
  --md-sys-outline-variant: rgb(203, 195, 216);
  --md-sys-shadow: rgb(0, 0, 0);
  --md-sys-scrim: rgb(0, 0, 0);
  --md-sys-inverse-surface: rgb(50, 47, 57);
  --md-sys-inverse-on-surface: rgb(245, 238, 252);
  --md-sys-inverse-primary: rgb(206, 189, 255);
  --md-sys-primary-fixed: rgb(232, 221, 255);
  --md-sys-on-primary-fixed: rgb(33, 0, 94);
  --md-sys-primary-fixed-dim: rgb(206, 189, 255);
  --md-sys-on-primary-fixed-variant: rgb(82, 9, 202);
  --md-sys-secondary-fixed: rgb(232, 221, 255);
  --md-sys-on-secondary-fixed: rgb(33, 6, 86);
  --md-sys-secondary-fixed-dim: rgb(206, 189, 255);
  --md-sys-on-secondary-fixed-variant: rgb(77, 58, 132);
  --md-sys-tertiary-fixed: rgb(255, 215, 239);
  --md-sys-on-tertiary-fixed: rgb(58, 0, 49);
  --md-sys-tertiary-fixed-dim: rgb(255, 173, 230);
  --md-sys-on-tertiary-fixed-variant: rgb(133, 0, 116);
  --md-sys-surface-dim: rgb(222, 215, 229);
  --md-sys-surface-bright: rgb(253, 247, 255);
  --md-sys-surface-container-lowest: rgb(255, 255, 255);
  --md-sys-surface-container-low: rgb(248, 241, 255);
  --md-sys-surface-container: rgb(242, 235, 249);
  --md-sys-surface-container-high: rgb(236, 229, 244);
  --md-sys-surface-container-highest: rgb(231, 224, 238);
  --md-extended-green-color-rgb: 0, 108, 73;
  --md-extended-green-color: rgb(var(--md-extended-green-color-rgb));
  --md-extended-green-on-color: rgb(255, 255, 255);
  --md-extended-green-color-container: rgb(37, 195, 137);
  --md-extended-green-on-color-container: rgb(0, 40, 24);
  --md-extended-red-color: rgb(160, 0, 76);
  --md-extended-red-on-color: rgb(255, 255, 255);
  --md-extended-red-color-container: rgb(221, 32, 112);
  --md-extended-red-on-color-container: rgb(255, 255, 255);
  --md-extended-orange-color: rgb(169, 56, 6);
  --md-extended-orange-on-color: rgb(255, 255, 255);
  --md-extended-orange-color-container: rgb(255, 123, 76);
  --md-extended-orange-on-color-container: rgb(48, 9, 0);
  --md-extended-yellow-color: rgb(131, 85, 0);
  --md-extended-yellow-on-color: rgb(255, 255, 255);
  --md-extended-yellow-color-container: rgb(255, 172, 35);
  --md-extended-yellow-on-color-container: rgb(68, 42, 0);
  --md-extended-cyan-color: rgb(0, 104, 116);
  --md-extended-cyan-on-color: rgb(255, 255, 255);
  --md-extended-cyan-color-container: rgb(40, 200, 219);
  --md-extended-cyan-on-color-container: rgb(0, 47, 53);
  --md-extended-blue-color: rgb(40, 60, 186);
  --md-extended-blue-on-color: rgb(255, 255, 255);
  --md-extended-blue-color-container: rgb(81, 100, 224);
  --md-extended-blue-on-color-container: rgb(255, 255, 255);
  --md-extended-purple-color: rgb(85, 34, 199);
  --md-extended-purple-on-color: rgb(255, 255, 255);
  --md-extended-purple-color-container: rgb(122, 81, 237);
  --md-extended-purple-on-color-container: rgb(255, 255, 255);
  --md-extended-pink-color: rgb(150, 0, 126);
  --md-extended-pink-on-color: rgb(255, 255, 255);
  --md-extended-pink-color-container: rgb(198, 55, 168);
  --md-extended-pink-on-color-container: rgb(255, 255, 255);
}

.theme-dark {
  --md-sys-primary-hsl: 255, 100%, 87.1%;
  --md-sys-primary: rgb(206, 189, 255);
  --md-sys-surface-tint: rgb(206, 189, 255);
  --md-sys-on-primary: rgb(57, 0, 148);
  --md-sys-primary-container: rgb(126, 79, 246);
  --md-sys-on-primary-container: rgb(255, 255, 255);
  --md-sys-secondary: rgb(206, 189, 255);
  --md-sys-on-secondary: rgb(54, 34, 107);
  --md-sys-secondary-container: rgb(68, 49, 122);
  --md-sys-on-secondary-container: rgb(217, 202, 255);
  --md-sys-tertiary: rgb(255, 173, 230);
  --md-sys-on-tertiary: rgb(94, 0, 81);
  --md-sys-tertiary-container: rgb(192, 54, 167);
  --md-sys-on-tertiary-container: rgb(255, 255, 255);
  --md-sys-error-rgb: 255, 180, 171;
  --md-sys-error: rgb(var(--md-sys-error-rgb));
  --md-sys-on-error: rgb(105, 0, 5);
  --md-sys-error-container: rgb(147, 0, 10);
  --md-sys-on-error-container: rgb(255, 218, 214);
  --md-sys-background: rgb(20, 18, 27);
  --md-sys-on-background: rgb(231, 224, 238);
  --md-sys-surface: rgb(20, 18, 27);
  --md-sys-on-surface: rgb(231, 224, 238);
  --md-sys-surface-variant: rgb(73, 68, 85);
  --md-sys-on-surface-variant: rgb(203, 195, 216);
  --md-sys-outline: rgb(148, 142, 161);
  --md-sys-outline-variant: rgb(73, 68, 85);
  --md-sys-shadow: rgb(0, 0, 0);
  --md-sys-scrim: rgb(0, 0, 0);
  --md-sys-inverse-surface: rgb(231, 224, 238);
  --md-sys-inverse-on-surface: rgb(50, 47, 57);
  --md-sys-inverse-primary: rgb(106, 55, 226);
  --md-sys-primary-fixed: rgb(232, 221, 255);
  --md-sys-on-primary-fixed: rgb(33, 0, 94);
  --md-sys-primary-fixed-dim: rgb(206, 189, 255);
  --md-sys-on-primary-fixed-variant: rgb(82, 9, 202);
  --md-sys-secondary-fixed: rgb(232, 221, 255);
  --md-sys-on-secondary-fixed: rgb(33, 6, 86);
  --md-sys-secondary-fixed-dim: rgb(206, 189, 255);
  --md-sys-on-secondary-fixed-variant: rgb(77, 58, 132);
  --md-sys-tertiary-fixed: rgb(255, 215, 239);
  --md-sys-on-tertiary-fixed: rgb(58, 0, 49);
  --md-sys-tertiary-fixed-dim: rgb(255, 173, 230);
  --md-sys-on-tertiary-fixed-variant: rgb(133, 0, 116);
  --md-sys-surface-dim: rgb(20, 18, 27);
  --md-sys-surface-bright: rgb(59, 55, 66);
  --md-sys-surface-container-lowest: rgb(15, 13, 22);
  --md-sys-surface-container-low: rgb(29, 26, 36);
  --md-sys-surface-container: rgb(33, 30, 40);
  --md-sys-surface-container-high: rgb(43, 40, 51);
  --md-sys-surface-container-highest: rgb(54, 51, 62);
  --md-extended-green-color-rgb: 77, 223, 162;
  --md-extended-green-color: rgb(var(--md-extended-green-color-rgb));
  --md-extended-green-on-color: rgb(0, 56, 36);
  --md-extended-green-color-container: rgb(0, 173, 119);
  --md-extended-green-on-color-container: rgb(0, 7, 3);
  --md-extended-red-color: rgb(255, 177, 196);
  --md-extended-red-on-color: rgb(101, 0, 46);
  --md-extended-red-color-container: rgb(220, 31, 111);
  --md-extended-red-on-color-container: rgb(255, 255, 255);
  --md-extended-orange-color: rgb(255, 181, 156);
  --md-extended-orange-on-color: rgb(92, 25, 0);
  --md-extended-orange-color-container: rgb(199, 77, 30);
  --md-extended-orange-on-color-container: rgb(255, 255, 255);
  --md-extended-yellow-color: rgb(255, 207, 146);
  --md-extended-yellow-on-color: rgb(69, 43, 0);
  --md-extended-yellow-color-container: rgb(237, 157, 12);
  --md-extended-yellow-on-color-container: rgb(51, 30, 0);
  --md-extended-cyan-color: rgb(77, 223, 242);
  --md-extended-cyan-on-color: rgb(0, 54, 61);
  --md-extended-cyan-color-container: rgb(0, 180, 199);
  --md-extended-cyan-on-color-container: rgb(0, 28, 32);
  --md-extended-blue-color: rgb(187, 195, 255);
  --md-extended-blue-on-color: rgb(0, 27, 150);
  --md-extended-blue-color-container: rgb(71, 91, 214);
  --md-extended-blue-on-color-container: rgb(255, 255, 255);
  --md-extended-purple-color: rgb(205, 189, 255);
  --md-extended-purple-on-color: rgb(55, 0, 149);
  --md-extended-purple-color-container: rgb(113, 71, 228);
  --md-extended-purple-on-color-container: rgb(255, 255, 255);
  --md-extended-pink-color: rgb(255, 173, 227);
  --md-extended-pink-on-color: rgb(95, 0, 79);
  --md-extended-pink-color-container: rgb(193, 49, 163);
  --md-extended-pink-on-color-container: rgb(255, 255, 255);
}

:root {
  --md-white: rgb(255, 255, 255);
  --md-black: rgb(0, 0, 0);
  --md-ref-palette-primary100: rgb(255, 255, 255);
  --md-ref-palette-primary99: rgb(255, 251, 255);
  --md-ref-palette-primary98: rgb(253, 247, 255);
  --md-ref-palette-primary95: rgb(245, 238, 255);
  --md-ref-palette-primary90: rgb(232, 221, 255);
  --md-ref-palette-primary80: rgb(206, 189, 255);
  --md-ref-palette-primary70: rgb(181, 156, 255);
  --md-ref-palette-primary60: rgb(156, 122, 255);
  --md-ref-palette-primary50: rgb(131, 85, 252);
  --md-ref-palette-primary40: rgb(106, 55, 226);
  --md-ref-palette-primary35: rgb(94, 37, 213);
  --md-ref-palette-primary30: rgb(82, 9, 202);
  --md-ref-palette-primary25: rgb(69, 0, 176);
  --md-ref-palette-primary20: rgb(57, 0, 148);
  --md-ref-palette-primary15: rgb(45, 0, 120);
  --md-ref-palette-primary10: rgb(33, 0, 94);
  --md-ref-palette-primary5: rgb(21, 0, 66);
  --md-ref-palette-primary0: rgb(0, 0, 0);
  --md-ref-palette-secondary100: rgb(255, 255, 255);
  --md-ref-palette-secondary99: rgb(255, 251, 255);
  --md-ref-palette-secondary98: rgb(253, 247, 255);
  --md-ref-palette-secondary95: rgb(245, 238, 255);
  --md-ref-palette-secondary90: rgb(232, 221, 255);
  --md-ref-palette-secondary80: rgb(204, 192, 235);
  --md-ref-palette-secondary70: rgb(177, 165, 207);
  --md-ref-palette-secondary60: rgb(150, 139, 179);
  --md-ref-palette-secondary50: rgb(124, 113, 152);
  --md-ref-palette-secondary40: rgb(98, 89, 126);
  --md-ref-palette-secondary35: rgb(86, 77, 113);
  --md-ref-palette-secondary30: rgb(74, 65, 101);
  --md-ref-palette-secondary25: rgb(63, 54, 89);
  --md-ref-palette-secondary20: rgb(52, 43, 77);
  --md-ref-palette-secondary15: rgb(41, 32, 66);
  --md-ref-palette-secondary10: rgb(30, 22, 55);
  --md-ref-palette-secondary5: rgb(19, 11, 44);
  --md-ref-palette-secondary0: rgb(0, 0, 0);
  --md-ref-palette-tertiary100: rgb(255, 255, 255);
  --md-ref-palette-tertiary99: rgb(255, 251, 255);
  --md-ref-palette-tertiary98: rgb(255, 248, 248);
  --md-ref-palette-tertiary95: rgb(255, 236, 240);
  --md-ref-palette-tertiary90: rgb(255, 217, 227);
  --md-ref-palette-tertiary80: rgb(255, 176, 203);
  --md-ref-palette-tertiary70: rgb(230, 147, 176);
  --md-ref-palette-tertiary60: rgb(199, 121, 149);
  --md-ref-palette-tertiary50: rgb(170, 96, 123);
  --md-ref-palette-tertiary40: rgb(141, 72, 99);
  --md-ref-palette-tertiary35: rgb(127, 61, 87);
  --md-ref-palette-tertiary30: rgb(113, 49, 75);
  --md-ref-palette-tertiary25: rgb(99, 38, 63);
  --md-ref-palette-tertiary20: rgb(86, 27, 52);
  --md-ref-palette-tertiary15: rgb(72, 16, 41);
  --md-ref-palette-tertiary10: rgb(59, 5, 31);
  --md-ref-palette-tertiary5: rgb(43, 0, 20);
  --md-ref-palette-tertiary0: rgb(0, 0, 0);
  --md-ref-palette-error100: rgb(255, 255, 255);
  --md-ref-palette-error99: rgb(255, 251, 255);
  --md-ref-palette-error98: rgb(255, 248, 247);
  --md-ref-palette-error95: rgb(255, 237, 234);
  --md-ref-palette-error90: rgb(255, 218, 214);
  --md-ref-palette-error80: rgb(255, 180, 171);
  --md-ref-palette-error70: rgb(255, 137, 125);
  --md-ref-palette-error60: rgb(255, 84, 73);
  --md-ref-palette-error50: rgb(222, 55, 48);
  --md-ref-palette-error40: rgb(186, 26, 26);
  --md-ref-palette-error35: rgb(168, 7, 16);
  --md-ref-palette-error30: rgb(147, 0, 10);
  --md-ref-palette-error25: rgb(126, 0, 7);
  --md-ref-palette-error20: rgb(105, 0, 5);
  --md-ref-palette-error15: rgb(84, 0, 3);
  --md-ref-palette-error10: rgb(65, 0, 2);
  --md-ref-palette-error5: rgb(45, 0, 1);
  --md-ref-palette-error0: rgb(0, 0, 0);
  --md-ref-palette-neutral100: rgb(255, 255, 255);
  --md-ref-palette-neutral99: rgb(255, 251, 255);
  --md-ref-palette-neutral98: rgb(253, 248, 253);
  --md-ref-palette-neutral95: rgb(244, 239, 244);
  --md-ref-palette-neutral90: rgb(230, 225, 230);
  --md-ref-palette-neutral80: rgb(202, 197, 202);
  --md-ref-palette-neutral70: rgb(174, 170, 174);
  --md-ref-palette-neutral60: rgb(147, 143, 148);
  --md-ref-palette-neutral50: rgb(121, 118, 122);
  --md-ref-palette-neutral40: rgb(96, 93, 98);
  --md-ref-palette-neutral35: rgb(84, 81, 86);
  --md-ref-palette-neutral30: rgb(72, 70, 74);
  --md-ref-palette-neutral25: rgb(61, 59, 62);
  --md-ref-palette-neutral20: rgb(49, 48, 51);
  --md-ref-palette-neutral15: rgb(39, 37, 41);
  --md-ref-palette-neutral10: rgb(28, 27, 30);
  --md-ref-palette-neutral5: rgb(18, 16, 20);
  --md-ref-palette-neutral0: rgb(0, 0, 0);
  --md-ref-palette-neutral-variant100: rgb(255, 255, 255);
  --md-ref-palette-neutral-variant99: rgb(255, 251, 255);
  --md-ref-palette-neutral-variant98: rgb(253, 247, 255);
  --md-ref-palette-neutral-variant95: rgb(245, 238, 250);
  --md-ref-palette-neutral-variant90: rgb(230, 224, 236);
  --md-ref-palette-neutral-variant80: rgb(202, 196, 207);
  --md-ref-palette-neutral-variant70: rgb(174, 169, 180);
  --md-ref-palette-neutral-variant60: rgb(147, 143, 153);
  --md-ref-palette-neutral-variant50: rgb(121, 117, 127);
  --md-ref-palette-neutral-variant40: rgb(96, 93, 102);
  --md-ref-palette-neutral-variant35: rgb(84, 81, 90);
  --md-ref-palette-neutral-variant30: rgb(72, 69, 78);
  --md-ref-palette-neutral-variant25: rgb(61, 58, 67);
  --md-ref-palette-neutral-variant20: rgb(50, 47, 56);
  --md-ref-palette-neutral-variant15: rgb(39, 36, 45);
  --md-ref-palette-neutral-variant10: rgb(29, 26, 34);
  --md-ref-palette-neutral-variant5: rgb(18, 16, 23);
  --md-ref-palette-neutral-variant0: rgb(0, 0, 0);
  --md-key-colors-primary: rgb(134, 88, 255);
  --md-source-seed: rgb(134, 88, 255);
  --md-extended-green-seed: rgb(8, 185, 78);
  --md-extended-green-value: rgb(0, 183, 126);
  --md-extended-red-seed: rgb(233, 49, 71);
  --md-extended-red-value: rgb(231, 42, 119);
  --md-extended-orange-seed: rgb(236, 117, 0);
  --md-extended-orange-value: rgb(244, 109, 60);
  --md-extended-yellow-seed: rgb(224, 172, 0);
  --md-extended-yellow-value: rgb(244, 163, 23);
  --md-extended-cyan-seed: rgb(0, 191, 188);
  --md-extended-cyan-value: rgb(5, 189, 208);
  --md-extended-blue-seed: rgb(8, 109, 221);
  --md-extended-blue-value: rgb(81, 100, 224);
  --md-extended-purple-seed: rgb(120, 82, 238);
  --md-extended-purple-value: rgb(122, 81, 237);
  --md-extended-pink-seed: rgb(213, 57, 132);
  --md-extended-pink-value: rgb(203, 59, 172);
}
