@use 'sass:color';
@use 'sass:map';
@use 'pkg:@material/web/color/color' as md-color;
@use 'pkg:@material/web/tokens' as md-tokens;

$_my-palette: map.merge(
  md-tokens.md-ref-palette-values(),
  (
    'black': #000000,
    'error0': #000000,
    'error10': #410002,
    'error100': #ffffff,
    'error20': #690005,
    'error30': #93000a,
    'error40': #ba1a1a,
    'error50': #de3730,
    'error60': #ff5449,
    'error70': #ff897d,
    'error80': #ffb4ab,
    'error90': #ffdad6,
    'error95': #ffedea,
    'error99': #fffbff,
    'neutral-variant0': #000000,
    'neutral-variant10': #1d1928,
    'neutral-variant100': #ffffff,
    'neutral-variant20': #322e3e,
    'neutral-variant30': #494455,
    'neutral-variant40': #615c6d,
    'neutral-variant50': #7a7487,
    'neutral-variant60': #948ea1,
    'neutral-variant70': #afa8bc,
    'neutral-variant80': #cbc3d8,
    'neutral-variant90': #e7dff4,
    'neutral-variant95': #f5eeff,
    'neutral-variant99': #fffbff,
    'neutral0': #000000,
    'neutral10': #1d1a24,
    'neutral100': #ffffff,
    'neutral12': #211e28,
    'neutral17': #2b2833,
    'neutral20': #322f39,
    'neutral22': #36333e,
    'neutral24': #3b3742,
    'neutral30': #494550,
    'neutral4': #0f0d16,
    'neutral40': #615c68,
    'neutral50': #7a7581,
    'neutral6': #14121b,
    'neutral60': #948e9b,
    'neutral70': #afa9b6,
    'neutral80': #cac4d2,
    'neutral87': #ded7e5,
    'neutral90': #e7e0ee,
    'neutral92': #ece5f4,
    'neutral94': #f2ebf9,
    'neutral95': #f5eefc,
    'neutral96': #f8f1ff,
    'neutral98': #fdf7ff,
    'neutral99': #fffbff,
    'primary0': #000000,
    'primary10': #21005d,
    'primary100': #ffffff,
    'primary20': #390093,
    'primary30': #5208ca,
    'primary40': #6b36e2,
    'primary50': #8455fc,
    'primary60': #9d79ff,
    'primary70': #b59cff,
    'primary80': #cebdff,
    'primary90': #e8ddff,
    'primary95': #f5eeff,
    'primary99': #fffbff,
    'secondary0': #000000,
    'secondary10': #210656,
    'secondary100': #ffffff,
    'secondary20': #36226b,
    'secondary30': #4d3a83,
    'secondary40': #65529d,
    'secondary50': #7f6bb8,
    'secondary60': #9984d4,
    'secondary70': #b49ff0,
    'secondary80': #cebdff,
    'secondary90': #e8ddff,
    'secondary95': #f5eeff,
    'secondary99': #fffbff,
    'tertiary0': #000000,
    'tertiary10': #2e1500,
    'tertiary100': #ffffff,
    'tertiary20': #4c2700,
    'tertiary30': #6c3a00,
    'tertiary40': #8f4e00,
    'tertiary50': #b26300,
    'tertiary60': #d27b1f,
    'tertiary70': #f29539,
    'tertiary80': #ffb779,
    'tertiary90': #ffdcc1,
    'tertiary95': #ffeee2,
    'tertiary99': #fffbff,
    'white': #ffffff,
  )
);

$_default-dark: (
  'md-ref-palette': $_my-palette,
);

$_default-light: (
  'md-ref-palette': $_my-palette,
);

@function values-dark($deps: $_default-dark, $exclude-custom-properties: false) {
  @return md-tokens.md-sys-color-values-dark(
    $deps,
    $exclude-custom-properties
  );
}

@function values-light($deps: $_default-light, $exclude-custom-properties: false) {
  @return md-tokens.md-sys-color-values-light(
    $deps,
    $exclude-custom-properties
  );
}

.theme-dark {
  @include md-color.theme(values-dark($exclude-custom-properties: true));

  --md-extended-green-color-rgb: 77, 223, 162;
  --md-extended-green-color: rgb(var(--md-extended-green-color-rgb));
  --md-extended-green-on-color: rgb(0, 56, 36);
  --md-extended-green-color-container: rgb(0, 173, 119);
  --md-extended-green-on-color-container: rgb(0, 7, 3);
  --md-extended-red-color: rgb(255, 177, 196);
  --md-extended-red-on-color: rgb(101, 0, 46);
  --md-extended-red-color-container: rgb(220, 31, 111);
  --md-extended-red-on-color-container: rgb(255, 255, 255);
  --md-extended-orange-color: rgb(255, 181, 156);
  --md-extended-orange-on-color: rgb(92, 25, 0);
  --md-extended-orange-color-container: rgb(199, 77, 30);
  --md-extended-orange-on-color-container: rgb(255, 255, 255);
  --md-extended-yellow-color: rgb(255, 207, 146);
  --md-extended-yellow-on-color: rgb(69, 43, 0);
  --md-extended-yellow-color-container: rgb(237, 157, 12);
  --md-extended-yellow-on-color-container: rgb(51, 30, 0);
  --md-extended-cyan-color: rgb(77, 223, 242);
  --md-extended-cyan-on-color: rgb(0, 54, 61);
  --md-extended-cyan-color-container: rgb(0, 180, 199);
  --md-extended-cyan-on-color-container: rgb(0, 28, 32);
  --md-extended-blue-color: rgb(187, 195, 255);
  --md-extended-blue-on-color: rgb(0, 27, 150);
  --md-extended-blue-color-container: rgb(71, 91, 214);
  --md-extended-blue-on-color-container: rgb(255, 255, 255);
  --md-extended-purple-color: rgb(205, 189, 255);
  --md-extended-purple-on-color: rgb(55, 0, 149);
  --md-extended-purple-color-container: rgb(113, 71, 228);
  --md-extended-purple-on-color-container: rgb(255, 255, 255);
  --md-extended-pink-color: rgb(255, 173, 227);
  --md-extended-pink-on-color: rgb(95, 0, 79);
  --md-extended-pink-color-container: rgb(193, 49, 163);
  --md-extended-pink-on-color-container: rgb(255, 255, 255);
}

.theme-light {
  @include md-color.theme(values-light($exclude-custom-properties: true));

  --md-extended-green-color-rgb: 0, 108, 73;
  --md-extended-green-color: rgb(var(--md-extended-green-color-rgb));
  --md-extended-green-on-color: rgb(255, 255, 255);
  --md-extended-green-color-container: rgb(37, 195, 137);
  --md-extended-green-on-color-container: rgb(0, 40, 24);
  --md-extended-red-color: rgb(160, 0, 76);
  --md-extended-red-on-color: rgb(255, 255, 255);
  --md-extended-red-color-container: rgb(221, 32, 112);
  --md-extended-red-on-color-container: rgb(255, 255, 255);
  --md-extended-orange-color: rgb(169, 56, 6);
  --md-extended-orange-on-color: rgb(255, 255, 255);
  --md-extended-orange-color-container: rgb(255, 123, 76);
  --md-extended-orange-on-color-container: rgb(48, 9, 0);
  --md-extended-yellow-color: rgb(131, 85, 0);
  --md-extended-yellow-on-color: rgb(255, 255, 255);
  --md-extended-yellow-color-container: rgb(255, 172, 35);
  --md-extended-yellow-on-color-container: rgb(68, 42, 0);
  --md-extended-cyan-color: rgb(0, 104, 116);
  --md-extended-cyan-on-color: rgb(255, 255, 255);
  --md-extended-cyan-color-container: rgb(40, 200, 219);
  --md-extended-cyan-on-color-container: rgb(0, 47, 53);
  --md-extended-blue-color: rgb(40, 60, 186);
  --md-extended-blue-on-color: rgb(255, 255, 255);
  --md-extended-blue-color-container: rgb(81, 100, 224);
  --md-extended-blue-on-color-container: rgb(255, 255, 255);
  --md-extended-purple-color: rgb(85, 34, 199);
  --md-extended-purple-on-color: rgb(255, 255, 255);
  --md-extended-purple-color-container: rgb(122, 81, 237);
  --md-extended-purple-on-color-container: rgb(255, 255, 255);
  --md-extended-pink-color: rgb(150, 0, 126);
  --md-extended-pink-on-color: rgb(255, 255, 255);
  --md-extended-pink-color-container: rgb(198, 55, 168);
  --md-extended-pink-on-color-container: rgb(255, 255, 255);
}

:root {
  --md-key-colors-primary: rgb(134, 88, 255);
  --md-source-seed: rgb(134, 88, 255);
  --md-extended-green-seed: rgb(8, 185, 78);
  --md-extended-green-value: rgb(0, 183, 126);
  --md-extended-red-seed: rgb(233, 49, 71);
  --md-extended-red-value: rgb(231, 42, 119);
  --md-extended-orange-seed: rgb(236, 117, 0);
  --md-extended-orange-value: rgb(244, 109, 60);
  --md-extended-yellow-seed: rgb(224, 172, 0);
  --md-extended-yellow-value: rgb(244, 163, 23);
  --md-extended-cyan-seed: rgb(0, 191, 188);
  --md-extended-cyan-value: rgb(5, 189, 208);
  --md-extended-blue-seed: rgb(8, 109, 221);
  --md-extended-blue-value: rgb(81, 100, 224);
  --md-extended-purple-seed: rgb(120, 82, 238);
  --md-extended-purple-value: rgb(122, 81, 237);
  --md-extended-pink-seed: rgb(213, 57, 132);
  --md-extended-pink-value: rgb(203, 59, 172);
}
